.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: #e7e6e2;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 229px;
  border-bottom: 1px solid #53535333;
}
.topBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.topBar > :global(.__wab_flex-container) > *,
.topBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.topBar > :global(.__wab_flex-container) > picture > img,
.topBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBar {
    margin-bottom: 0px;
    padding: 0px;
  }
}
.freeBox__wCoP4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__wCoP4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wCoP4 > :global(.__wab_flex-container) > *,
.freeBox__wCoP4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wCoP4 > :global(.__wab_flex-container) > picture > img,
.freeBox__wCoP4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wCoP4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wCoP4 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wCoP4 > :global(.__wab_flex-container) > *,
  .freeBox__wCoP4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wCoP4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__wCoP4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__nxezv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 982px;
  height: 40px;
  flex-shrink: 0;
}
.freeBox__nxezv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nxezv > :global(.__wab_flex-container) > *,
.freeBox__nxezv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nxezv > :global(.__wab_flex-container) > picture > img,
.freeBox__nxezv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nxezv > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nxezv > :global(.__wab_flex-container) > *,
  .freeBox__nxezv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nxezv > :global(.__wab_flex-container) > picture > img,
  .freeBox__nxezv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 982px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  padding: 16px;
}
.link__egZ0U {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.img__cJUj {
  object-fit: cover;
  height: 30px;
  object-position: 100% 100%;
  position: absolute;
  left: 0px;
  top: 5px;
}
.img__cJUj > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.img__pFjkJ {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img__pFjkJ > picture > img {
  object-fit: cover;
}
.img__aNqV4 {
  object-fit: cover;
}
.img__aNqV4 > picture > img {
  object-fit: cover;
}
.link__uFxgz {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 520px;
  top: 0px;
  text-align: center;
  font-size: 11px;
  color: #545454;
  text-transform: capitalize;
  font-weight: 400;
  border-right: 1px solid #0000000d;
  border-bottom: 0px solid #228b2266;
}
.root .link__uFxgz:active {
  color: #228b22;
}
.root .link__uFxgz:hover {
  color: #a5e612;
}
.link__vo0Mr {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 602px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  border-right: 1px solid #0000000d;
}
.root .link__vo0Mr:hover {
  color: #a5e612;
}
.root .link__vo0Mr:active {
  color: #228b22;
}
.link__ir28D {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 692px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  cursor: not-allowed;
  border-right: 1px solid #0000000d;
}
.root .link__ir28D:hover {
  color: #a5e612;
}
.root .link__ir28D:active {
  color: #228b22;
}
.link__g3Qf {
  position: absolute;
  width: 90px;
  height: 40px;
  max-width: 100%;
  left: 782px;
  top: 0px;
  font-size: 11px;
  text-align: center;
  color: #545454;
  cursor: not-allowed;
  border-right: 1px solid #0000000d;
}
.root .link__g3Qf:hover {
  color: #a5e612;
}
.root .link__g3Qf:active {
  color: #228b22;
}
.account:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  margin-left: calc(4px + 8px) !important;
  font-size: 12px;
  color: #cb1717;
  box-shadow: none;
  font-weight: 300;
  position: absolute;
  left: 924px;
  top: 4px;
  flex-shrink: 0;
}
.account__dropdownMenu:global(.ant-dropdown-menu) {
  box-shadow: 2px 4px 7px 0px #00000040;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(90deg, #ffffff 56%, #e7e6e280 100%) 0% 0% / 100%
    100% repeat;
  color: #d41818;
  outline: none;
  border-radius: 0px 8px 8px;
  border: 1px solid #53535333;
}
.account__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item) {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 12px;
  background: none;
  outline: none;
}
.account__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item-active) {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background: #e7e6e2;
  text-decoration-line: underline;
  outline: none;
}
.menuItem___1W2GD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ctDws {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__hmTc6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__j2Yv1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__mrCc1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 0px;
}
.img__jPdZ {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 11px;
}
.img__jPdZ > picture > img {
  object-fit: cover;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1064px;
  height: 160px;
  max-width: 100%;
  background: #ffffff;
  position: absolute;
  left: -151px;
  top: 40px;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #53535333;
}
.freeBox__be03F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 531px;
  height: 160px;
  flex-shrink: 0;
}
.button__yb7Xa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__lnkXb {
  object-fit: cover;
  max-width: 100%;
  width: 110px;
}
.img__lnkXb > picture > img {
  object-fit: cover;
}
.svg__f9Nkl {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 216px;
  top: 13px;
  width: 100px;
  height: 100px;
  color: #56565600;
  opacity: 1;
}
.root .svg__f9Nkl:hover {
  color: #565656cc;
}
.root .svg__f9Nkl:active {
  color: #565656;
}
.freeBox__ckxGj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fgFd1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: baseline;
  min-width: 0;
  padding: 8px 8px 8px 50px;
}
.freeBox__gxCrc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: 8px;
  padding: 0px;
}
.svg__quxEa {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.lastInput:global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.svg__wtioc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eRLjH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__rIhHw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 0px 8px;
}
.svg__uyouJ {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.lastInput2:global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.svg__onks8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qes1E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bqIr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 0px 8px;
}
.svg__znD1Y {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.lastInput3:global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.svg__t1Cmj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__k87XG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___0NCdb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: 8px;
  padding: 0px;
}
.svg__n1Bvt {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.lastInput4:global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.svg__mxt2Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___1T7Sg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__y7Vr {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.loginButton:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
  height: 20px;
  margin-top: 20px;
  margin-left: 133px;
}
.svg__rq7R9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mBiQn {
  font-size: 12px;
}
.svg__uRtxq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dLjiE {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 30px;
  left: 446px;
  padding: 0px;
}
.upload2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__cUtU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 170px;
  height: 170px;
  border-radius: 250px;
  padding: 0px;
}
.img__xQEgl {
  object-fit: contain;
  max-width: 100%;
  height: 170px;
  width: 170px;
  object-position: 50% 50%;
  margin-right: 0px;
  border-radius: 300px;
  border-width: 1px;
}
.img__xQEgl > picture > img {
  object-fit: contain;
  object-position: 50% 50%;
}
.svg___4Bb {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 35px;
  top: 35px;
  width: 100px;
  height: 100px;
  color: #56565600;
  opacity: 1;
}
.root .svg___4Bb:hover {
  color: #56565696;
}
.root .svg___4Bb:active {
  color: #565656;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  width: 160px;
  height: auto;
  margin: -30px 0px 0px;
}
.container8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 1064px;
  height: 180px;
  max-width: 100%;
  background: none;
  position: absolute;
  left: -151px;
  top: 300px;
  border-radius: 8px;
  padding: 0px;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tztDa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vna1P {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__idC4J {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 8px;
}
.text__jb8Jo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.textarea {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  font-size: 12px;
  min-width: 0;
}
.emailInput3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__h1MwE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8H4Gh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.emailInput2:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  margin-top: 220px;
}
.svg__n5Yyz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zi7GH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
