.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-ObkPdDneznW9);
  font-size: var(--token-azPGunYoQjyD);
  line-height: var(--token-EZHIDUf03CMt);
  width: 100%;
  color: var(--token-apIgP7EUn_wo);
  font-family: var(--token-KJboP9YRYR-J);
  min-width: 0;
  border-radius: var(--token-5r9F_cmf6-RX);
  padding: var(--token-5r9F_cmf6-RX) var(--token-IvwgCkCU5iVz);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-cqAJ-J96JVik);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-JkBcKwN1VnpA);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-5dYWLsRKmx5-);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-JkBcKwN1VnpA);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-ONGm179nLBRD);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-ONGm179nLBRD);
}
