@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800&display=swap");

.plasmic_tokens {
  --token-d5INr5JtQI8_: #c0c0c0;
  --plasmic-token-unnamed-style-token: var(--token-d5INr5JtQI8_);
  --token-73lespUl3tTh: #fff0c7cc;
  --plasmic-token-sacred: var(--token-73lespUl3tTh);
  --token-bPMFkz8rRR8b: 0.5rem;
  --plasmic-token-size-8: var(--token-bPMFkz8rRR8b);
  --token-apIgP7EUn_wo: #030712;
  --plasmic-token-basic-text-primary: var(--token-apIgP7EUn_wo);
  --token-KJboP9YRYR-J: Inter;
  --plasmic-token-sans-serif: var(--token-KJboP9YRYR-J);
  --token-azPGunYoQjyD: 1rem;
  --plasmic-token-font-md: var(--token-azPGunYoQjyD);
  --token-EZHIDUf03CMt: 1.25;
  --plasmic-token-line-height-md: var(--token-EZHIDUf03CMt);
  --token-eg8WbIkVXFKo: 1.25rem;
  --plasmic-token-size-20: var(--token-eg8WbIkVXFKo);
  --token-uVUMlLYQUnJg: #9ca3af;
  --plasmic-token-basic-ring: var(--token-uVUMlLYQUnJg);
  --token-Mt18ZqJbxqAi: 0.125rem;
  --plasmic-token-size-2: var(--token-Mt18ZqJbxqAi);
  --token-cqAJ-J96JVik: #2563eb;
  --plasmic-token-brand-brand: var(--token-cqAJ-J96JVik);
  --token-ZX6OgOfgh4AN: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-ZX6OgOfgh4AN);
  --token-sE8xCn33TWE7: 0.25rem;
  --plasmic-token-size-4: var(--token-sE8xCn33TWE7);
  --token-ONGm179nLBRD: 2rem;
  --plasmic-token-size-32: var(--token-ONGm179nLBRD);
  --token-IvwgCkCU5iVz: 0.625rem;
  --plasmic-token-size-10: var(--token-IvwgCkCU5iVz);
  --token-5r9F_cmf6-RX: 0.375rem;
  --plasmic-token-size-6: var(--token-5r9F_cmf6-RX);
  --token-AvVzJ55WxGQT: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-AvVzJ55WxGQT);
  --token-TYleK4Su-1UE: 0.75rem;
  --plasmic-token-font-sm: var(--token-TYleK4Su-1UE);
  --token-xdvI0BFTrjDV: 1;
  --plasmic-token-line-height-sm: var(--token-xdvI0BFTrjDV);
  --token-xwoNIFxy2JWK: 1.25rem;
  --plasmic-token-font-lg: var(--token-xwoNIFxy2JWK);
  --token-bTLC9KGnZyOY: 1.4;
  --plasmic-token-line-height-lg: var(--token-bTLC9KGnZyOY);
  --token-8LXevrcuCAbm: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-8LXevrcuCAbm);
  --token-ObkPdDneznW9: #d1d5db;
  --plasmic-token-basic-border: var(--token-ObkPdDneznW9);
  --token-JkBcKwN1VnpA: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-JkBcKwN1VnpA);
  --token-5dYWLsRKmx5-: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-5dYWLsRKmx5-);
  --token-xxQ4QW0VmMQi: #374151;
  --plasmic-token-neutral-neutral: var(--token-xxQ4QW0VmMQi);
  --token-frRN_FzK92lM: #6b7280;
  --plasmic-token-muted-muted: var(--token-frRN_FzK92lM);
  --token-9CdP5ZH844XX: #16a34a;
  --plasmic-token-success-success: var(--token-9CdP5ZH844XX);
  --token-5kQiHJPEnx7s: #facc15;
  --plasmic-token-warning-warning: var(--token-5kQiHJPEnx7s);
  --token-D5qzYht1NQCb: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-D5qzYht1NQCb);
  --token-Ltr1dJdwwuXD: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-Ltr1dJdwwuXD);
  --token-juUkpQkL260L: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-juUkpQkL260L);
  --token-UpE5HNDOpcYN: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-UpE5HNDOpcYN);
  --token-h9bLaHsye28O: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-h9bLaHsye28O);
  --token-kx_xZ83Y0PUJ: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-kx_xZ83Y0PUJ);
  --token-DGeBV98YRepU: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-DGeBV98YRepU);
  --token-bwVN1gwpNAkA: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-bwVN1gwpNAkA);
  --token-nsj3_mbVJozI: #86efac;
  --plasmic-token-success-success-border: var(--token-nsj3_mbVJozI);
  --token-1_Y5AjY-e5Ju: #fde047;
  --plasmic-token-warning-warning-border: var(--token-1_Y5AjY-e5Ju);
  --token-URoujWy8pG0o: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-URoujWy8pG0o);
  --token-4GkQ4a7cw3ww: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-4GkQ4a7cw3ww);
  --token-Naxf7T8D04uk: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-Naxf7T8D04uk);
  --token-B2E5yexD-Qji: #00000033;
  --plasmic-token-interaction-pressed: var(--token-B2E5yexD-Qji);
  --token-292HCmUUe3j8: 0.75rem;
  --plasmic-token-size-12: var(--token-292HCmUUe3j8);
  --token-BOJYSt-7_Z5o: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-BOJYSt-7_Z5o);
  --token-clgas6Fk5t6y: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-clgas6Fk5t6y);
  --token-IvpG16Tl_Ffw: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-IvpG16Tl_Ffw);
  --token-nQwH9O7VImd_: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-nQwH9O7VImd_);
  --token-72-U18eh_Zk2: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-72-U18eh_Zk2);
  --token-FHOiuB2aa1-L: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-FHOiuB2aa1-L);
  --token-ZixI4BE-0Guc: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-ZixI4BE-0Guc);
  --token-waOmybW4GMxI: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-waOmybW4GMxI);
  --token-nno1vQJm2cho: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-nno1vQJm2cho);
  --token-BuVdb-Otx8VD: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-BuVdb-Otx8VD);
  --token-RsRvcuN4ZezX: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-RsRvcuN4ZezX
  );
  --token-cs4BGCCdq-do: #ffffff;
  --plasmic-token-basic-container-background: var(--token-cs4BGCCdq-do);
  --token-SUr43PIg9T-h: 1rem;
  --plasmic-token-size-16: var(--token-SUr43PIg9T-h);
  --token-s5OLHD5YphmR: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-s5OLHD5YphmR);
  --token-WzwYphUKOTaT: 1.5rem;
  --plasmic-token-size-24: var(--token-WzwYphUKOTaT);
  --token-hdmXFmlQDB63: 1240px;
  --plasmic-token-max-width-navbar: var(--token-hdmXFmlQDB63);
  --token-SgwZiHWDU-Rr: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-SgwZiHWDU-Rr);
  --token-XMi9Y_V23YsI: 1140px;
  --plasmic-token-content-max-width: var(--token-XMi9Y_V23YsI);
  --token-ww05OPoc4Erd: #ffffff;
  --plasmic-token-white: var(--token-ww05OPoc4Erd);
  --token-YoL2-dE3X1Gl: #ffffff;
  --plasmic-token-white-color: var(--token-YoL2-dE3X1Gl);
  --token-EIx-PtFz0aGc: #05367e;
  --plasmic-token-blue-dark: var(--token-EIx-PtFz0aGc);
  --token-z_yQ4P6vKZP6: #228b22;
  --plasmic-token-unnamed-style-token-4: var(--token-z_yQ4P6vKZP6);
  --token--3I95ucWVN95: #a5e612;
  --plasmic-token-unnamed-style-token-5: var(--token--3I95ucWVN95);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-GNT9nVjKFliW_font-family: "Inter", sans-serif;
  --mixin-GNT9nVjKFliW_font-size: 16px;
  --mixin-GNT9nVjKFliW_font-weight: 400;
  --mixin-GNT9nVjKFliW_font-style: normal;
  --mixin-GNT9nVjKFliW_color: #535353;
  --mixin-GNT9nVjKFliW_text-align: left;
  --mixin-GNT9nVjKFliW_text-transform: none;
  --mixin-GNT9nVjKFliW_line-height: 1.5;
  --mixin-GNT9nVjKFliW_letter-spacing: normal;
  --mixin-GNT9nVjKFliW_white-space: pre-wrap;
  --mixin-GNT9nVjKFliW_user-select: text;
  --mixin-GNT9nVjKFliW_text-decoration-line: none;
  --mixin-GNT9nVjKFliW_text-overflow: clip;
  --mixin-bx1WlPvosXT2_color: #000000;
  --mixin-bx1WlPvosXT2_font-weight: 700;
  --mixin-bx1WlPvosXT2_font-size: 64px;
  --mixin-bx1WlPvosXT2_line-height: 1;
  --mixin-bx1WlPvosXT2_letter-spacing: -1px;
  --mixin-bx1WlPvosXT2_white-space: pre-wrap;
  --mixin-r8sl1PWJA5Cp_color: #000000;
  --mixin-r8sl1PWJA5Cp_font-size: 48px;
  --mixin-r8sl1PWJA5Cp_font-weight: 700;
  --mixin-r8sl1PWJA5Cp_letter-spacing: -0.5px;
  --mixin-r8sl1PWJA5Cp_line-height: 1.1;
  --mixin-r8sl1PWJA5Cp_white-space: pre-wrap;
  --mixin-kC9dBcsBfnLU_color: #0070f3;
  --mixin-kC9dBcsBfnLU_white-space: pre-wrap;
  --mixin-d2Lddta-WVfb_color: #000000;
  --mixin-d2Lddta-WVfb_font-size: 32px;
  --mixin-d2Lddta-WVfb_font-weight: 600;
  --mixin-d2Lddta-WVfb_line-height: 1.2;
  --mixin-d2Lddta-WVfb_white-space: pre-wrap;
  --mixin-i3yz1NkBM1B2_color: #000000;
  --mixin-i3yz1NkBM1B2_font-size: 24px;
  --mixin-i3yz1NkBM1B2_font-weight: 600;
  --mixin-i3yz1NkBM1B2_line-height: 1.3;
  --mixin-i3yz1NkBM1B2_white-space: pre-wrap;
  --mixin-63LoMSViqPyT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-63LoMSViqPyT_border-bottom-color: #dddddd;
  --mixin-63LoMSViqPyT_border-bottom-style: solid;
  --mixin-63LoMSViqPyT_border-bottom-width: 1px;
  --mixin-63LoMSViqPyT_border-left-color: #dddddd;
  --mixin-63LoMSViqPyT_border-left-style: solid;
  --mixin-63LoMSViqPyT_border-left-width: 1px;
  --mixin-63LoMSViqPyT_border-right-color: #dddddd;
  --mixin-63LoMSViqPyT_border-right-style: solid;
  --mixin-63LoMSViqPyT_border-right-width: 1px;
  --mixin-63LoMSViqPyT_border-top-color: #dddddd;
  --mixin-63LoMSViqPyT_border-top-style: solid;
  --mixin-63LoMSViqPyT_border-top-width: 1px;
  --mixin-63LoMSViqPyT_border-bottom-left-radius: 3px;
  --mixin-63LoMSViqPyT_border-bottom-right-radius: 3px;
  --mixin-63LoMSViqPyT_border-top-left-radius: 3px;
  --mixin-63LoMSViqPyT_border-top-right-radius: 3px;
  --mixin-63LoMSViqPyT_font-family: "Inconsolata";
  --mixin-63LoMSViqPyT_padding-bottom: 1px;
  --mixin-63LoMSViqPyT_padding-left: 4px;
  --mixin-63LoMSViqPyT_padding-right: 4px;
  --mixin-63LoMSViqPyT_padding-top: 1px;
  --mixin-63LoMSViqPyT_white-space: pre-wrap;
  --mixin-njHNigE2e3gh_border-left-color: #dddddd;
  --mixin-njHNigE2e3gh_border-left-style: solid;
  --mixin-njHNigE2e3gh_border-left-width: 3px;
  --mixin-njHNigE2e3gh_color: #888888;
  --mixin-njHNigE2e3gh_padding-left: 10px;
  --mixin-njHNigE2e3gh_white-space: pre-wrap;
  --mixin-r6puvUQG_Gay_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-r6puvUQG_Gay_border-bottom-color: #dddddd;
  --mixin-r6puvUQG_Gay_border-bottom-style: solid;
  --mixin-r6puvUQG_Gay_border-bottom-width: 1px;
  --mixin-r6puvUQG_Gay_border-left-color: #dddddd;
  --mixin-r6puvUQG_Gay_border-left-style: solid;
  --mixin-r6puvUQG_Gay_border-left-width: 1px;
  --mixin-r6puvUQG_Gay_border-right-color: #dddddd;
  --mixin-r6puvUQG_Gay_border-right-style: solid;
  --mixin-r6puvUQG_Gay_border-right-width: 1px;
  --mixin-r6puvUQG_Gay_border-top-color: #dddddd;
  --mixin-r6puvUQG_Gay_border-top-style: solid;
  --mixin-r6puvUQG_Gay_border-top-width: 1px;
  --mixin-r6puvUQG_Gay_border-bottom-left-radius: 3px;
  --mixin-r6puvUQG_Gay_border-bottom-right-radius: 3px;
  --mixin-r6puvUQG_Gay_border-top-left-radius: 3px;
  --mixin-r6puvUQG_Gay_border-top-right-radius: 3px;
  --mixin-r6puvUQG_Gay_font-family: "Inconsolata";
  --mixin-r6puvUQG_Gay_padding-bottom: 3px;
  --mixin-r6puvUQG_Gay_padding-left: 6px;
  --mixin-r6puvUQG_Gay_padding-right: 6px;
  --mixin-r6puvUQG_Gay_padding-top: 3px;
  --mixin-r6puvUQG_Gay_white-space: pre-wrap;
  --mixin-_Q1xiwZESjO-_display: flex;
  --mixin-_Q1xiwZESjO-_flex-direction: column;
  --mixin-_Q1xiwZESjO-_align-items: stretch;
  --mixin-_Q1xiwZESjO-_justify-content: flex-start;
  --mixin-_Q1xiwZESjO-_list-style-position: outside;
  --mixin-_Q1xiwZESjO-_padding-left: 40px;
  --mixin-_Q1xiwZESjO-_position: relative;
  --mixin-_Q1xiwZESjO-_list-style-type: disc;
  --mixin-_Q1xiwZESjO-_white-space: pre-wrap;
  --mixin-vygZ_Sol2SRy_display: flex;
  --mixin-vygZ_Sol2SRy_flex-direction: column;
  --mixin-vygZ_Sol2SRy_align-items: stretch;
  --mixin-vygZ_Sol2SRy_justify-content: flex-start;
  --mixin-vygZ_Sol2SRy_list-style-position: outside;
  --mixin-vygZ_Sol2SRy_padding-left: 40px;
  --mixin-vygZ_Sol2SRy_position: relative;
  --mixin-vygZ_Sol2SRy_list-style-type: decimal;
  --mixin-vygZ_Sol2SRy_white-space: pre-wrap;
  --mixin-0gBcloKx-Uhe_color: #000000;
  --mixin-0gBcloKx-Uhe_font-size: 20px;
  --mixin-0gBcloKx-Uhe_font-weight: 600;
  --mixin-0gBcloKx-Uhe_line-height: 1.5;
  --mixin-0gBcloKx-Uhe_white-space: pre-wrap;
  --mixin-NQ87iUQX1Kyy_color: #000000;
  --mixin-NQ87iUQX1Kyy_font-size: 16px;
  --mixin-NQ87iUQX1Kyy_font-weight: 600;
  --mixin-NQ87iUQX1Kyy_line-height: 1.5;
  --mixin-NQ87iUQX1Kyy_white-space: pre-wrap;
  --mixin-NBqt9gMRccO4_color: #3291ff;
  --mixin-NBqt9gMRccO4_white-space: pre-wrap;
  --mixin-HQNiO0r79gvy_white-space: pre-wrap;
  --mixin-06IICJVDkYHJ_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-61_VF2NJEJIA_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-61_VF2NJEJIA_white-space
  );
  --mixin-Yi5eCOROsYEz_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset-2_white-space: var(
    --mixin-Yi5eCOROsYEz_white-space
  );
  --mixin-4Csi9ifGafU1_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset-3_white-space: var(
    --mixin-4Csi9ifGafU1_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-GNT9nVjKFliW_font-family);
  font-size: var(--mixin-GNT9nVjKFliW_font-size);
  font-weight: var(--mixin-GNT9nVjKFliW_font-weight);
  font-style: var(--mixin-GNT9nVjKFliW_font-style);
  color: var(--mixin-GNT9nVjKFliW_color);
  text-align: var(--mixin-GNT9nVjKFliW_text-align);
  text-transform: var(--mixin-GNT9nVjKFliW_text-transform);
  line-height: var(--mixin-GNT9nVjKFliW_line-height);
  letter-spacing: var(--mixin-GNT9nVjKFliW_letter-spacing);
  white-space: var(--mixin-GNT9nVjKFliW_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-bx1WlPvosXT2_color);
  font-weight: var(--mixin-bx1WlPvosXT2_font-weight);
  font-size: var(--mixin-bx1WlPvosXT2_font-size);
  line-height: var(--mixin-bx1WlPvosXT2_line-height);
  letter-spacing: var(--mixin-bx1WlPvosXT2_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-r8sl1PWJA5Cp_color);
  font-size: var(--mixin-r8sl1PWJA5Cp_font-size);
  font-weight: var(--mixin-r8sl1PWJA5Cp_font-weight);
  letter-spacing: var(--mixin-r8sl1PWJA5Cp_letter-spacing);
  line-height: var(--mixin-r8sl1PWJA5Cp_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-kC9dBcsBfnLU_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-d2Lddta-WVfb_color);
  font-size: var(--mixin-d2Lddta-WVfb_font-size);
  font-weight: var(--mixin-d2Lddta-WVfb_font-weight);
  line-height: var(--mixin-d2Lddta-WVfb_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-i3yz1NkBM1B2_color);
  font-size: var(--mixin-i3yz1NkBM1B2_font-size);
  font-weight: var(--mixin-i3yz1NkBM1B2_font-weight);
  line-height: var(--mixin-i3yz1NkBM1B2_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-63LoMSViqPyT_font-family);
  border-radius: var(--mixin-63LoMSViqPyT_border-top-left-radius)
    var(--mixin-63LoMSViqPyT_border-top-right-radius)
    var(--mixin-63LoMSViqPyT_border-bottom-right-radius)
    var(--mixin-63LoMSViqPyT_border-bottom-left-radius);
  padding: var(--mixin-63LoMSViqPyT_padding-top)
    var(--mixin-63LoMSViqPyT_padding-right)
    var(--mixin-63LoMSViqPyT_padding-bottom)
    var(--mixin-63LoMSViqPyT_padding-left);
  border-top: var(--mixin-63LoMSViqPyT_border-top-width)
    var(--mixin-63LoMSViqPyT_border-top-style)
    var(--mixin-63LoMSViqPyT_border-top-color);
  border-right: var(--mixin-63LoMSViqPyT_border-right-width)
    var(--mixin-63LoMSViqPyT_border-right-style)
    var(--mixin-63LoMSViqPyT_border-right-color);
  border-bottom: var(--mixin-63LoMSViqPyT_border-bottom-width)
    var(--mixin-63LoMSViqPyT_border-bottom-style)
    var(--mixin-63LoMSViqPyT_border-bottom-color);
  border-left: var(--mixin-63LoMSViqPyT_border-left-width)
    var(--mixin-63LoMSViqPyT_border-left-style)
    var(--mixin-63LoMSViqPyT_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-njHNigE2e3gh_color);
  padding-left: var(--mixin-njHNigE2e3gh_padding-left);
  border-left: var(--mixin-njHNigE2e3gh_border-left-width)
    var(--mixin-njHNigE2e3gh_border-left-style)
    var(--mixin-njHNigE2e3gh_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-r6puvUQG_Gay_font-family);
  border-radius: var(--mixin-r6puvUQG_Gay_border-top-left-radius)
    var(--mixin-r6puvUQG_Gay_border-top-right-radius)
    var(--mixin-r6puvUQG_Gay_border-bottom-right-radius)
    var(--mixin-r6puvUQG_Gay_border-bottom-left-radius);
  padding: var(--mixin-r6puvUQG_Gay_padding-top)
    var(--mixin-r6puvUQG_Gay_padding-right)
    var(--mixin-r6puvUQG_Gay_padding-bottom)
    var(--mixin-r6puvUQG_Gay_padding-left);
  border-top: var(--mixin-r6puvUQG_Gay_border-top-width)
    var(--mixin-r6puvUQG_Gay_border-top-style)
    var(--mixin-r6puvUQG_Gay_border-top-color);
  border-right: var(--mixin-r6puvUQG_Gay_border-right-width)
    var(--mixin-r6puvUQG_Gay_border-right-style)
    var(--mixin-r6puvUQG_Gay_border-right-color);
  border-bottom: var(--mixin-r6puvUQG_Gay_border-bottom-width)
    var(--mixin-r6puvUQG_Gay_border-bottom-style)
    var(--mixin-r6puvUQG_Gay_border-bottom-color);
  border-left: var(--mixin-r6puvUQG_Gay_border-left-width)
    var(--mixin-r6puvUQG_Gay_border-left-style)
    var(--mixin-r6puvUQG_Gay_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-_Q1xiwZESjO-_display);
  flex-direction: var(--mixin-_Q1xiwZESjO-_flex-direction);
  align-items: var(--mixin-_Q1xiwZESjO-_align-items);
  justify-content: var(--mixin-_Q1xiwZESjO-_justify-content);
  list-style-position: var(--mixin-_Q1xiwZESjO-_list-style-position);
  padding-left: var(--mixin-_Q1xiwZESjO-_padding-left);
  position: var(--mixin-_Q1xiwZESjO-_position);
  list-style-type: var(--mixin-_Q1xiwZESjO-_list-style-type);
  flex-column-gap: var(--mixin-_Q1xiwZESjO-_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vygZ_Sol2SRy_display);
  flex-direction: var(--mixin-vygZ_Sol2SRy_flex-direction);
  align-items: var(--mixin-vygZ_Sol2SRy_align-items);
  justify-content: var(--mixin-vygZ_Sol2SRy_justify-content);
  list-style-position: var(--mixin-vygZ_Sol2SRy_list-style-position);
  padding-left: var(--mixin-vygZ_Sol2SRy_padding-left);
  position: var(--mixin-vygZ_Sol2SRy_position);
  list-style-type: var(--mixin-vygZ_Sol2SRy_list-style-type);
  flex-column-gap: var(--mixin-vygZ_Sol2SRy_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-0gBcloKx-Uhe_color);
  font-size: var(--mixin-0gBcloKx-Uhe_font-size);
  font-weight: var(--mixin-0gBcloKx-Uhe_font-weight);
  line-height: var(--mixin-0gBcloKx-Uhe_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-NQ87iUQX1Kyy_color);
  font-size: var(--mixin-NQ87iUQX1Kyy_font-size);
  font-weight: var(--mixin-NQ87iUQX1Kyy_font-weight);
  line-height: var(--mixin-NQ87iUQX1Kyy_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-NBqt9gMRccO4_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
