.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-cqAJ-J96JVik);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-bPMFkz8rRR8b);
  font-family: var(--token-KJboP9YRYR-J);
  font-size: var(--token-azPGunYoQjyD);
  line-height: var(--token-EZHIDUf03CMt);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-5r9F_cmf6-RX);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Mt18ZqJbxqAi);
  outline-offset: 1px;
  outline-color: var(--token-cqAJ-J96JVik);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-xxQ4QW0VmMQi);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-frRN_FzK92lM);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-9CdP5ZH844XX);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-5kQiHJPEnx7s);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-8LXevrcuCAbm);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-xdvI0BFTrjDV);
  font-size: var(--token-TYleK4Su-1UE);
  column-gap: var(--token-Mt18ZqJbxqAi);
  row-gap: 0px;
  border-radius: var(--token-sE8xCn33TWE7);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-TYleK4Su-1UE);
  line-height: var(--token-xdvI0BFTrjDV);
  column-gap: var(--token-sE8xCn33TWE7);
  row-gap: 0px;
  border-radius: var(--token-sE8xCn33TWE7);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-xwoNIFxy2JWK);
  line-height: var(--token-bTLC9KGnZyOY);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-xwoNIFxy2JWK);
  line-height: var(--token-bTLC9KGnZyOY);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-D5qzYht1NQCb);
  border-radius: var(--token-5r9F_cmf6-RX);
}
.softBackgroundcolor_neutral {
  background: var(--token-Ltr1dJdwwuXD);
}
.softBackgroundcolor_muted {
  background: var(--token-JkBcKwN1VnpA);
}
.softBackgroundcolor_success {
  background: var(--token-juUkpQkL260L);
}
.softBackgroundcolor_warning {
  background: var(--token-UpE5HNDOpcYN);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-h9bLaHsye28O);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-5r9F_cmf6-RX);
  border: 0px solid var(--token-kx_xZ83Y0PUJ);
}
.bordercolor_neutral {
  border-color: var(--token-DGeBV98YRepU);
}
.bordercolor_muted {
  border-color: var(--token-bwVN1gwpNAkA);
}
.bordercolor_success {
  border-color: var(--token-nsj3_mbVJozI);
}
.bordercolor_warning {
  border-color: var(--token-1_Y5AjY-e5Ju);
}
.bordercolor_errorDestructive {
  border-color: var(--token-URoujWy8pG0o);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-5r9F_cmf6-RX);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-4GkQ4a7cw3ww);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-Naxf7T8D04uk);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-B2E5yexD-Qji);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___6D4Se {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-5r9F_cmf6-RX) var(--token-IvwgCkCU5iVz);
}
.freeBox___6D4Se > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-5r9F_cmf6-RX));
  width: calc(100% + var(--token-5r9F_cmf6-RX));
}
.freeBox___6D4Se > :global(.__wab_flex-container) > *,
.freeBox___6D4Se > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6D4Se > :global(.__wab_flex-container) > picture > img,
.freeBox___6D4Se
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-5r9F_cmf6-RX);
}
.freeBoxsize_extraSmall___6D4SezPz1C {
  padding: var(--token-sE8xCn33TWE7) var(--token-5r9F_cmf6-RX);
}
.freeBoxsize_small___6D4SeDKGr {
  padding: var(--token-5r9F_cmf6-RX) var(--token-bPMFkz8rRR8b);
}
.freeBoxsize_large___6D4SeQnLtV {
  padding-top: var(--token-sE8xCn33TWE7);
  padding-bottom: var(--token-sE8xCn33TWE7);
}
.freeBoxsize_extraLarge___6D4SeKbHrw {
  padding-left: var(--token-292HCmUUe3j8);
  padding-right: var(--token-292HCmUUe3j8);
}
.freeBoxroundedFull___6D4SeVnTcc {
  padding-right: var(--token-292HCmUUe3j8);
  padding-left: var(--token-292HCmUUe3j8);
}
.freeBox__kIwdo {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__kIwdoZmptj {
  display: flex;
}
.slotTargetStart {
  color: var(--token-BOJYSt-7_Z5o);
}
.slotTargetStartcolor_neutral {
  color: var(--token-ZX6OgOfgh4AN);
}
.slotTargetStartcolor_muted {
  color: var(--token-clgas6Fk5t6y);
}
.slotTargetStartcolor_success {
  color: var(--token-72-U18eh_Zk2);
}
.slotTargetStartcolor_warning {
  color: var(--token-nQwH9O7VImd_);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-FHOiuB2aa1-L);
}
.slotTargetStarttype_soft {
  color: var(--token-IvpG16Tl_Ffw);
}
.slotTargetStarttype_bordered {
  color: var(--token-IvpG16Tl_Ffw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-TYleK4Su-1UE);
}
.slotTargetStartsize_small {
  font-size: var(--token-TYleK4Su-1UE);
}
.slotTargetStartsize_large {
  font-size: var(--token-xwoNIFxy2JWK);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-xwoNIFxy2JWK);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-ZixI4BE-0Guc);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-ZixI4BE-0Guc);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-waOmybW4GMxI);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-waOmybW4GMxI);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-nno1vQJm2cho);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-nno1vQJm2cho);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-BuVdb-Otx8VD);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-BuVdb-Otx8VD);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-RsRvcuN4ZezX);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-RsRvcuN4ZezX);
}
.svg__cAzEy {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-BOJYSt-7_Z5o);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-ZX6OgOfgh4AN);
}
.slotTargetLabelcolor_muted {
  color: var(--token-clgas6Fk5t6y);
}
.slotTargetLabelcolor_success {
  color: var(--token-72-U18eh_Zk2);
}
.slotTargetLabelcolor_warning {
  color: var(--token-nQwH9O7VImd_);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-FHOiuB2aa1-L);
}
.slotTargetLabeltype_soft {
  color: var(--token-IvpG16Tl_Ffw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-IvpG16Tl_Ffw);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-ZixI4BE-0Guc);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-waOmybW4GMxI);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-ZixI4BE-0Guc);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-nno1vQJm2cho);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-waOmybW4GMxI);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-BuVdb-Otx8VD);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-nno1vQJm2cho);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-RsRvcuN4ZezX);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-BuVdb-Otx8VD);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-RsRvcuN4ZezX);
}
.text__iH1U {
  white-space: pre;
}
.freeBox__gAseQ {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__gAseQXiuFi {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-BOJYSt-7_Z5o);
}
.slotTargetEndcolor_neutral {
  color: var(--token-ZX6OgOfgh4AN);
}
.slotTargetEndcolor_muted {
  color: var(--token-clgas6Fk5t6y);
}
.slotTargetEndcolor_success {
  color: var(--token-72-U18eh_Zk2);
}
.slotTargetEndcolor_warning {
  color: var(--token-nQwH9O7VImd_);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-FHOiuB2aa1-L);
}
.slotTargetEndtype_soft {
  color: var(--token-IvpG16Tl_Ffw);
}
.slotTargetEndtype_bordered {
  color: var(--token-IvpG16Tl_Ffw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-TYleK4Su-1UE);
}
.slotTargetEndsize_small {
  font-size: var(--token-TYleK4Su-1UE);
}
.slotTargetEndsize_large {
  font-size: var(--token-xwoNIFxy2JWK);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-xwoNIFxy2JWK);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-ZixI4BE-0Guc);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-ZixI4BE-0Guc);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-waOmybW4GMxI);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-waOmybW4GMxI);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-nno1vQJm2cho);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-nno1vQJm2cho);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-BuVdb-Otx8VD);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-BuVdb-Otx8VD);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-RsRvcuN4ZezX);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-RsRvcuN4ZezX);
}
.svg__xiLTi {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
