.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__tiCmW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-hdmXFmlQDB63);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__tiCmW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tiCmW > :global(.__wab_flex-container) > *,
.freeBox__tiCmW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tiCmW > :global(.__wab_flex-container) > picture > img,
.freeBox__tiCmW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tiCmW {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tiCmW > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tiCmW > :global(.__wab_flex-container) > *,
  .freeBox__tiCmW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tiCmW > :global(.__wab_flex-container) > picture > img,
  .freeBox__tiCmW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__dmZ23 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox__dmZ23 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 26px);
  width: calc(100% + 26px);
}
.freeBox__dmZ23 > :global(.__wab_flex-container) > *,
.freeBox__dmZ23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dmZ23 > :global(.__wab_flex-container) > picture > img,
.freeBox__dmZ23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dmZ23 {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.link__hVl0P {
  font-weight: 600;
  color: #000000;
  line-height: 19.5;
  font-size: 16px;
}
.link__a0Let {
  font-weight: 600;
  color: #00000080;
  line-height: 19.5;
  font-size: 16px;
}
.link___42D3H {
  font-weight: 600;
  color: #00000080;
  line-height: 19.5;
  font-size: 16px;
}
.freeBox___0RcL4 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___0RcL4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___0RcL4 > :global(.__wab_flex-container) > *,
.freeBox___0RcL4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0RcL4 > :global(.__wab_flex-container) > picture > img,
.freeBox___0RcL4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0RcL4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0RcL4 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0RcL4 > :global(.__wab_flex-container) > *,
  .freeBox___0RcL4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0RcL4 > :global(.__wab_flex-container) > picture > img,
  .freeBox___0RcL4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.link__ypVjm {
  color: #00000080;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ypVjm {
    line-height: var(--token-bTLC9KGnZyOY);
  }
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  height: 1em;
}
.text {
  white-space: pre;
  padding-right: 0px;
  font-size: 18px;
}
.svg__afCgL {
  position: relative;
  height: 1em;
}
