.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(
      99deg,
      #f2dea9a1 0%,
      #f2dea9a1 11%,
      #654f1ecc 35%,
      #ad9d78 39%,
      #654f1e 52%,
      #f2dea9c9 100%
    ),
    url("./images/bgTentativa7Svg2.svg") top 50% left 50% / cover repeat;
  width: 100%;
  height: auto;
  mix-blend-mode: normal;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__oj436 {
  display: flex;
  position: relative;
  max-width: var(--token-XMi9Y_V23YsI);
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__oj436 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox__oj436 > :global(.__wab_flex-container) > *,
.freeBox__oj436 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oj436 > :global(.__wab_flex-container) > picture > img,
.freeBox__oj436
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oj436 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oj436 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oj436 > :global(.__wab_flex-container) > *,
  .freeBox__oj436 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oj436 > :global(.__wab_flex-container) > picture > img,
  .freeBox__oj436
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__xA6W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: auto;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xA6W {
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 250px;
  max-height: 30px;
  width: 311px;
  filter: none;
  object-position: left 50%;
}
.img > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.text__vrsSy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-ww05OPoc4Erd);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vrsSy {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__bLwpi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bLwpi {
    align-items: center;
    justify-content: center;
  }
}
.svg__n63DH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg___56Yq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__p5WTo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___7InS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.freeBox___3Yszh {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Yszh {
    justify-content: center;
    align-items: center;
  }
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
    margin-top: 46px;
  }
}
.text__g7N4Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g7N4Z {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg___4Tfv5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__siwn0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qDf6L {
  position: relative;
  height: 1em;
}
.text__vebuO {
  white-space: pre;
}
.svg__kTpGd {
  position: relative;
  height: 1em;
}
.freeBox___3Zh0G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Zh0G {
    align-self: center;
  }
}
.text__xmKr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-ww05OPoc4Erd);
  margin-top: 100px;
}
